body {
  background-color: #f6f9fc;
  padding: 50px;
  display : flex;
}

#dices .savedDices {
  display : flex;
}

.savedDice, .randomDice {
  border : 1px solid black;
  padding: 15px;
  margin: 10px;
  width: 20px;
  height:20px;
  text-align: center;
  box-shadow: 1px 1px 5px -1px;
  border-radius: 5px;
  background-color: white;
}



#dices .randomDices .trialOfRolling {
  display: flex;
}



.hidden {
  display: none;
}

.dicesform {
  border: 3px solid burlywood;
  height: 80px;
  width: 360px;
  margin: 30px;
  box-shadow: 1px 1px 3px brown;
  background-color: bisque

}

.clicked:hover{
  transform: scale(1.1)
}