
#R10C1, #R11C1, #R18C1 {
  background-color:dimgrey;
  color: white;
}

#R11C1{
  font-size: 18px;
}

#R18C1 {
  font-size: 18px;
  padding: 5px;
}
#R10C2, #R10C3, #R11C2, #R11C3, #R18C2, #R18C3{
  background-color: silver;
}


.turn{
  background-color: ivory;
}

